.App {
  position: absolute;
  display: flex;
  flex-flow: column;
  min-height: 100%;
  width: 100%;
}

.header,
.footer {
  flex: 0 1 auto;
}

.header {
  padding: 15px 20px;
  font-size: 25px;
  font-weight: bold;
  color: #1b7593;

}

.footer {
  color: white;
  padding: 10px;
  width: 100%;
  text-align: right;
}

.footer a {
  text-decoration: none;
  color: white;
}

.media-container {
  flex: 1 1 auto;
  margin: 50px;
  border-radius: 10px;
  border: 5px dashed #4c4c4c;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #4c4c4c;
  font-size: 20px;
  font-weight: bold;
  padding: 10px;
  margin-top: 20px;
  text-align: center;
}

.media-container img {
  height: 200px;
  width: 200px;
}

.small img {
  height: 65px;
  width: auto;
  margin: 15px;
}

@media screen and (max-width: 680px) {
  .media-container {
    margin: 20px;
    font-size: 16px;
    padding: 5px 3px;
    margin-top: 10px;
  }
}